body {
    background-color: #f9f9f9;
    color: #444;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}
h3, h4 {
    margin: 5px 0;
}
pre {
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
}
.desc {
    align-items: center;
    border: 1px solid #888;
    display: flex;
    margin: 20px 0;
    padding: 10px;
}

.imgHolder {
    margin-right: 10px;
}
